.news-component-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100vw;
}

.add-button {
    display: flex;
    justify-content: flex-end;
}

.news-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-details {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
}

.info-result {
    margin: 0 auto;
}
